<aside
  :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'"
  class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
  @click.outside="sidebarToggle = false"
>
  <!-- SIDEBAR HEADER -->
  <div class="flex items-center justify-between gap-2 px-6 py-3 lg:py-3">
    <%= link_to root_path, class:"h-13 text-red-600" do %>
      <%= image_tag asset_path('logo/logo-white.svg'), class: "h-full"%>
    <% end %>

    <button
      class="block lg:hidden"
      @click.stop="sidebarToggle = !sidebarToggle"
    >
      <span class="material-symbols-outlined">arrow_back</span>
    </button>
  </div>
  <!-- SIDEBAR HEADER -->

  <div
    class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
  >
    <!-- Sidebar Menu -->
    <nav
      class="mt-5 py-4 px-4 lg:mt-3 lg:px-6"
      x-data="{selected: $persist('Dashboard')}"
    >
      <!-- Menu Group -->
      <div>
        <%# <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3> %>

        <ul class="mb-6 flex flex-col gap-1.5">
          <li>
            <%= link_to dashboard_path, class:"group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4" do %>
              <%#
              @click="selected = (selected === 'Calendar' ? '':'Calendar')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Calendar') && (page === 'calendar') }"
              %>
              <span class="material-symbols-outlined">team_dashboard</span>

              Dashboard
            <% end %>
          </li>
        </ul>
      </div>

      <div>
        <%# <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3> %>
        <ul class="mb-6 flex flex-col gap-1.5">
          <!-- Menu Item Calendar -->
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="calendar.html"
              @click="selected = (selected === 'Calendar' ? '':'Calendar')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Calendar') && (page === 'calendar') }"
            >
              <span class="material-symbols-outlined">calendar_month</span>
              Calendar
            </a>
          </li>
          <!-- Menu Item Calendar -->

          <!-- Menu Item Profile -->
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="profile.html"
              @click="selected = (selected === 'Profile' ? '':'Profile')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Profile') && (page === 'profile') }"
              :class="page === 'profile' && 'bg-graydark'"
            >
              <span class="material-symbols-outlined">receipt_long</span>
              Invoice / Recept
            </a>
          </li>
          <!-- Menu Item Profile -->

          <!-- Menu Item Tables -->
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="tables.html"
              @click="selected = (selected === 'Tables' ? '':'Tables')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Tables') && (page === 'Tables') }"
            >
              <span class="material-symbols-outlined">collections_bookmark</span>
              Course
            </a>
          </li>
          <!-- Menu Item Tables -->

        </ul>
      </div>

      <!-- Others Group -->
      <div>
        <%# <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">OTHERS</h3> %>

        <ul class="mb-6 flex flex-col gap-1.5">
          <!-- Menu Item Chart -->
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="chart.html"
              @click="selected = (selected === 'Chart' ? '':'Chart')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Chart') && (page === 'Chart') }"
            >
              <span class="material-symbols-outlined">face</span>
              Student
            </a>
          </li>
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="chart.html"
              @click="selected = (selected === 'Chart' ? '':'Chart')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Chart') && (page === 'Chart') }"
            >
              <span class="material-symbols-outlined">escalator_warning</span>
              Parent
            </a>
          </li>

        </ul>
      </div>

      <div>
        <%# <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">OTHERS</h3> %>

        <ul class="mb-6 flex flex-col gap-1.5">
          <!-- Menu Item Chart -->
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="chart.html"
              @click="selected = (selected === 'Chart' ? '':'Chart')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Chart') && (page === 'Chart') }"
            >
              <span class="material-symbols-outlined">person_book</span>
              Teacher
            </a>
          </li>
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="chart.html"
              @click="selected = (selected === 'Chart' ? '':'Chart')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Chart') && (page === 'Chart') }"
            >
              <span class="material-symbols-outlined">meeting_room</span>
              Room
            </a>
          </li>
          <li>
            <a
              class="group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
              href="chart.html"
              @click="selected = (selected === 'Chart' ? '':'Chart')"
              :class="{ 'bg-graydark dark:bg-meta-4': (selected === 'Chart') && (page === 'Chart') }"
            >
              <span class="material-symbols-outlined">menu_book</span>
              Curriculum
            </a>
          </li>
        </ul>
      </div>

    </nav>
    <!-- Sidebar Menu -->

  </div>
</aside>
